/* *{
    box-sizing: content-box;
}
.one{
    background-color: blueviolet;
    width: 200px;
    height: 200px;
    margin: 100px auto;
    padding: 10px;
    border: 20px solid yellow;
    border-top-left-radius: 50px 150px;
    border-bottom-right-radius:50px ;
    vertical-align: middle;
} */
p::after{
    content: "";
    color: aqua;
   background-color: brown;
   
}